*.pkl
*.hdf5
*.txt
!requirements.txt
!utils/vllm_requirements.txt
*.csv
*.job
*.yaml
*.json
*.jsonl
*.safetensors
*.pt
*.pth
*.bin
*.png

__pycache__/*
utils/__pycache__/*
unused/*
wandb/*
job_scripts/*

Training_Output/*
Eval_Logs/*
Models/*
scripts/anthropic/extra/*