*.pkl
*.hdf5
*.txt
!requirements.txt
*.csv
*.job
*.yaml
*.json
*.jsonl
*.safetensors
*.pt
*.pth
*.bin
*.png

__pycache__/*
utils/__pycache__/*
unused/*
wandb/*
job_scripts/*

morlhf/*
reward_soup/*
sft_model/*
value_models/*
Anthropic/*
Summary/*